.content {}


.button-icons {
    width: 100pc;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid#f2f2f2;
    align-items: center;
    margin-bottom: 10px;
}

.text-button {
    padding: 10px 14px;
    margin-right: 8px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: none;
    outline: none;
}

.button-selected {
    color: white;
    background-color: black;
}

.full-content {
    display: flex;
    background-color: black;
}