.hello {
    background-color: black;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 1px;
    /* margin: 25px; */



}

.hambugermenu {
    height: 30px;
    margin-left: 15px;



}

.logoimg {
    height: 50px;
    margin-left: 15px;




}